*,*::before,*::after{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to right, transparent, rgba(255,255,255,0.8) 30%,rgba(255,255,255,0.8) 70%, transparent), url('../images/bg.jpg');
	background-size: cover;
}
.radio{
	display: inline-block;
	margin-right: 20px;
}
.radio input{
	display: none;
}
.radio label{
	position: relative;
	padding-left: 20px;
}
.radio label::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #a60328;
	border-radius: 50%;
}
.radio input:checked + label::after{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: 4px;
	left: 4px;
	background: #a60328;
	position: absolute;
}
main{
	max-width: 600px;
	margin: 0 auto;
}
h1{
	text-align: center;
	margin-bottom: 40px;
}
.wrapper{
	display: flex;
	margin-top: 40px;
}
.form{
	width: 70%;
}
.result{
	width: 30%;
	padding-top: 20px;
	text-align: center;
	box-shadow: 0 2px 18px #ccc;
	background: white;
}
.submit-wrapper{
	margin-top: 20px;
}
.btn-red{
	background: #a60328;
	color: white;
}
.btn-red:hover,
.btn-red:focus{
	color: white;
}
header{
	box-shadow: 0 0 20px #ccc;
	padding: 10px; 
	text-align: center;
	background: white;
}
.logo{
	vertical-align: middle;
}
.logo-text{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 20px;
	display: inline-block;
	vertical-align: middle;
	color: #a60328;
	font-weight: 100;
}
.like, 
.dislike{
	background-image: url('../images/like.png');
	background-repeat: no-repeat;
	padding-left: 40px;
}
.like:active, 
.dislike:active{
	background-image: url('../images/like.png');
}
.like{
	background-position: 5px 3px;
}
.dislike{
	background-position: 5px -30px;
}
.second-step__result{
	text-align: center;
}
img{
	max-width: 100%;
}
.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9999999999999;
    background: transparent;
    transition: 0.5s all;
}
.preloader-visible{
	display: flex;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0,0.5);
}
.second-step__buttons{
	text-align: center;
	margin-top: 20px;
}
@keyframes myrotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
.preloader img{
	animation: myrotate 3s infinite linear;
}
.third-step__image{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.third-step__bottle{
	position: relative;
}
.third-step__bottle #label{
	position: absolute;
	top: 119px;
    left: 3px;
    width: 63px;
    height: 107px;
}
.third-step__bottle::after{
	content: '';
	position: absolute;
	top: 119px;
    left: 3px;
    width: 63px;
    height: 107px;
    display: block;
    background: linear-gradient(to right,
    	transparent 0%,
    	rgba(255,255,255,0.7) 8px,
    	rgba(255,255,255,0.4) 28px,
    	transparent 23px,
    	transparent 46px,
    	rgba(0,0,0,0.5) 100%);
}